@model HomeDetailsViewModel
@{
    ViewBag.Title = "Employee Details";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@Model.PageTitle</title>
</head>
<body>
    <div>
        <h2>@Model.employee.Name</h2>
    </div>
    <div>Department:    @Model.employee.Department</div>
    <div>Email:    @Model.employee.Email</div>
    <div>
            <a asp-controller="Home" asp-action="Index" style="margin-right:5px">Back</a>
            <a style="margin-right:5px" href="#">Edit</a>
            <a style="margin-right:5px" href="#">Delete</a>
    </div>
    <div>
        <img  asp-append-version="true" src="~/img/puffin.jpg" alt="Puffin Image"/>
    </div>
</body>
</html>