<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div>
        <h1>@ViewBag.title</h1>
    </div>
    <div>Name: @ViewBag.employee.Name</div>
    <div>Department: @ViewBag.employee.Department</div>
    <div>Email: @ViewBag.employee.Email</div>
</body>
</html>