@model EmployeeEditViewModel

@{
    ViewBag.Title = "Edit Employee";
    var PhotoPath = "~/img/" + (Model.ExistingPhotoPath ?? "puffin.jpg");
}

<form enctype="multipart/form-data" asp-controller="Home" asp-action="Edit" method="post">
    <div>
        <input asp-for="Id" hidden/>
        <input asp-for="ExistingPhotoPath" hidden/>
    </div>

    <div>
        <label asp-for="Name">Full Name</label>
        <input asp-for="Name" />
        <span asp-validation-for="Name" style="color:red"></span>
    </div>

    <div>
        <label asp-for="Department">Department</label>
        <select asp-for="Department" asp-items="Html.GetEnumSelectList<Department>()">
            <option value="">Please Select</option>
        </select>
        <span asp-validation-for="Department"></span>
    </div>

    <div>
        <label asp-for="Email">Email Address</label>
        <input asp-for="Email" />
        <span asp-validation-for="Email" style="color:red"></span>
    </div>

    @*Photo Field*@
    <div>
        <label asp-for="Photos">Photo</label>
        <div>
            <input asp-for="Photos" multiple class="custom-file-input" />
            <label class="custom-file-label">Choose New Photo ...</label>
        </div>
    </div>

    <img asp-append-version="true" src="@PhotoPath" alt="Employee Photo" style="width:150px; height:auto" />

    <div>
        <button type="submit">Update</button>
        <a asp-controller="Home" asp-action="Index">Cancel</a>
    </div>

    <div asp-validation-summary="All"></div>

    @section Scripts{
        <script>
            $(document).ready(function () {
                $('.custom-file-input').on("change", function () {
                    var fileName = $(this).val().split("\\").pop();
                    $(this).next('.custom-file-lable').html(filename);
                });

        </script>
    }
</form>
