@model IEnumerable<Employee>

@{ 
    ViewBag.Title = "Employee Table";
}

<body>
    <div>
    <a asp-controller="Home" asp-action="Create">Create</a>
    </div>

    <table>
        <thead>
        <tr>
            <th>ID</th>  <th>Name</th>  <th>Department</th>
        </tr>
        </thead>
        <tbody>
            @foreach (var employee in Model)
            {
                <tr>
                    <td>@employee.Id</td>
                    <td>@employee.Name</td>
                    <td>@employee.Department</td>
                </tr>
                <tr>
                    <td><a asp-controller="Home" asp-action="details" asp-route-id="@employee.Id" style="margin-right:5px" >View</a></td>
                    <td><a style="margin-right:5px" href="#">Edit</a></td>
                    <td><a style="margin-right:5px" href="#">Delete</a></td>
                </tr>
                <tr>
                    <td> ----- </td>
                    <td> ----- </td>
                    <td> ----- </td>
                </tr>
            }
        </tbody>
    </table>
</body>

                                               