<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <employee-count 
                        [all]='getNumOFEmployees()' 
                        [male]='getNumberOfMales()' 
                        [female]='getNumberOfFemales()'
                        (countRadioButtonSelectionChange)='onEmployeeCountRadioButtonChange($event)'>
        </employee-count>
        <table class="table col-10">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Name</th>
                    <th>Gender</th>
                    <th>Annual Salary</th>
                    <th>Date of Bitrh</th>
                    <th>Index</th>
                    <th>Is First</th>
                    <th>Is Last</th>
                    <th>Is Odd</th>
                    <th>Is Even</th>
                </tr>
            </thead>
            <tbody>
           
                <ng-container *ngFor="let emp of employees; let i=index; let isFirst=first; let isLast=last; let isOdd=odd; let isEven=even" >
                    <tr *ngIf="selectedEmployeeCountRadioButton == 'All' || emp.gender == selectedEmployeeCountRadioButton">
                        <td>{{emp.code | uppercase}}</td>
                        <td>{{emp.name | employeeTitle:emp.gender}}</td>
                        <td>{{emp.gender}}</td>
                        <td>{{emp.salary | currency:'CAD':true:'1.0-1'}}</td>
                        <td>{{emp.dateOfBirth | date:'fullDate'}}</td>
                        <td>{{i}}</td>
                        <td>{{isFirst}}</td>
                        <td>{{isLast}}</td>
                        <td>{{isOdd}}</td>
                        <td>{{isEven}}</td>
                    </tr>
                </ng-container>
                <tr *ngIf="!employees || employees.length==0"> 
                    <td colspan=5>There is no employee</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>