<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @*<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />*@
</head>
<body>
    <div>
        @RenderBody()
    </div>

    @if (IsSectionDefined("scripts"))
    {
        @RenderSection("Scripts", required:true)
    }

    <div>
        <h6>Copy Right by Mohammad Sorkhian</h6>
    </div>
</body>
</html>
