<div class="container">

  <!-- Interpolation
  <h2>{{pageHeader}}</h2>
  <br>
  <app-employee></app-employee> -->

  <!-- Property Binding
  <div class="row">
    <button class="btn btn-primary" [disabled]='isDesabled'>Click Me</button>
  </div>
<br>

  Class Binding
  <div class="row">
    <button class='btn btn-primary' [class]='btn_info'>Click Me</button>
    <button class='btn btn-primary' [class.btn-primary]='active_btn_primary'>Click Me</button>
    <button class='btn btn-primary' [ngClass]='changeClass()'>Click Me</button>
  </div>
  <br> -->
  
  <!-- Event Binding
  <div class="rwo">
    <button class="btn btn-primary mr-3" (click)=onClick()>add</button>
    <span>{{sum}}</span>
  </div> -->

  <!-- *ngif
  <app-employee></app-employee> -->

  <!-- two way binding
  <input type="text" class="form-control" [value]="nameOther" (input)='nameOther=$event.target.value'>
  <input type="text" class="form-control" [(ngModel)]='nameOther'>
  <p class="form-text">{{nameOther}}</p> -->

<!-- <list-employee></list-employee> -->

<simple-input></simple-input>

</div>