<p>servers works! <span> <h4 style="display: inline-block;">{{!isActive}}</h4> </span></p>
<button class="btn btn-primary" [disabled]='isActive' (click)="onServerCreation()">Click Here</button>
<p>{{serverCreationStatus}}</p>
<label for="sName">Server Name </label>
<input type="text" id="sName" (input)="onServerNameUpdate($event)"> <span>{{serverNameUpdate}}</span>
<label for="sName2">Server Name2 </label>
<input type="text" id="sName2" class="form-control row" [(ngModel)]="userName"])>
  <p>{{userName}}</p>
